---
---
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700,900');
@import url('https://unpkg.com/primer/build/build.css');
@import 'highlight-syntax';

body {
  font-family: 'Rubik', sans-serif;
}

// If a user adds a custom font, this component will stop it from bleeding into GitHub components:
.github-component {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  background-color: #24292E !important;
  color: white !important;
}

.repo-language-color {
    filter: brightness(125%) !important;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    position: relative;
    top: 2px;
    width: 12px;
}

.emoji {
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.article {
  h1, h2, h3, h4,
  .highlight {
    margin-bottom: 16px;
  }

  blockquote {
    color: #6a737d;
    border-left: 2px solid #959da5;
    padding-left: 16px;
  }
}

.min-height-full {
  min-height: 100vh;
}

.link-gray:hover{
  color: #ffcc00 !important;
  fill: #ffcc00 !important;
}

.link-gray{
  color: white !important;
  fill: white !important;
}

.text-gray{
  color: white !important;
}

a:hover{
  color: #ffcc00 !important;
  text-decoration: none !important;
}

a{
  color: white !important;
  text-decoration: none !important;
}

.link-gray-dark:hover{
  color: #ffcc00 !important;
}

.link-gray-dark{
  color: white !important;
}

img {
  mix-blend-mode: normal;
}
